apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: default

resources:
- ./deployment.yaml
- ./service.yaml
- ./ingress.yaml

images:
- name: wadam
  newName: ghcr.io/chrom9103/wadam
  newTag: 0.0.0
